<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:image" content="https://www.dominictuazon.com/assets/imgs/share-image.jpg" />
  <title>Hi, I'm Dominic. I'm a Software Engineer</title>
  <link rel="stylesheet" href="/assets/css/master-landing.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/star.css">
  <script src="/assets/js/fontawesome-all.min.js" charset="utf-8"></script>
</head>
<body>
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <section class="landing">
      {{ content }}
  </section>
</body>
</html>
